<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated playlist -->
      <package
            uri="http://m3uplaylist.com/"
            class="M3UPlaylist.M3UPlaylistPackage"
            genModel="playlist.genmodel"/>
   </extension>

</plugin>
