/.VideoDemonstrator.java._trace
/.VideoDemonstrator.xtendbin
/VideoDemonstrator.java
/.HWDemo.java._trace
/.ConcatenateVideoSeq.java._trace
/.ConcatenateVideoSeq.xtendbin
/.HWDemo.xtendbin
/ConcatenateVideoSeq.java
/HWDemo.java
