<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated PlayList -->
      <package
            uri="http://www.xtext.org/example/mydsl/VideoGen"
            class="M3u.M3uPackage"
            genModel="model/PlayList.genmodel"/>
   </extension>

</plugin>
