<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
        <!-- <h4>Générateur de video <h4> -->
        <p class="navbar-text">Générateur de video</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" >

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Se connecter</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">

        <h1>Bienvenue sur notre site</h1>
        <p></p>
        <p>Attention vous pouvez pas continuer si vous êtes pas connecter!!</p>
        <p>Si vous avez pas encore de compte utilisateur, veuillez vous inscrire pour profiter pleinement de notre site</p>

      </div>

    </div> <!-- /container -->



<!-- <div ng-cloak>
    <div class="row">
        <div class="col-md-4" ng-hide="vm.isAuthenticated()">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-12" ng-show="vm.isAuthenticated()">
          <p>
              Playlist :<br />
              {{vm.playlist}}
          </p>
          <p><button ng-click="vm.regenerate()">Regenerate</button></p>

        </div>
        <div class="col-md-8" ng-hide="vm.isAuthenticated()">


            <h1 data-translate="home.title">Welcome, Java jHipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank"  data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" data-translate="home.github">Github</a>!
            </p>

        </div>
    </div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</div> -->
