.jumbotron {
    background: url("http://i1244.photobucket.com/albums/gg572/fitnessbeast1/Jumbotron/Tron.png") no-repeat scroll 0 0 / cover rgba(0, 0, 0, 0);
    margin: auto;
    padding: 0 15px;
    width: 80%;
    height: 325px;
}
