/.VideoGenDescriptionLabelProvider.java._trace
/.VideoGenDescriptionLabelProvider.xtendbin
/.VideoGenLabelProvider.java._trace
/.VideoGenLabelProvider.xtendbin
/VideoGenDescriptionLabelProvider.java
/VideoGenLabelProvider.java
